<footer class="footer bg-body-tertiary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer</h5>
                <ul class="list-unstyled mb-0">
                    <li>authorship information </li>
                    <li>copyright information </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">typically </h5>
                <ul class="list-unstyled">
                    <li>contact information </li>
                    <li>sitemap</li>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">including </h5>
                <ul class="list-unstyled mb-0">
                    <li>back to top links </li>
                    <li>related documents </li>
                </ul>
            </div>
        </div>
</footer>