<div id="container">
    <main class="vh-100">

        {{> header}}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>About Page </h2>
                <p>Some text about the current example.</p>
                <p>Description: {{ description }} </p>
            </div>
            <div class="col-1"></div>
        </div>
    </main>
</div>

{{> footer}}